cornerstone-zk/src/main/resources/META-INF/zookeeper.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://code.jiupai.com/schema/zookeeper"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://code.jiupai.com/schema/zookeeper">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:element name="client">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="zkAddress" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The zkAddress of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="namespace" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The namespace of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="retryNum" type="xsd:string" use="optional" default="10">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The retryNum of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional" default="10000">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The timeout of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="stateListener" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The stateListener of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="drm">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="zkAddress" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The zkAddress of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="appName" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The name of the application. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional" default="10000">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The timeout of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="stateListener" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The stateListener of curator client. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="leader">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
